.is-primary {
    margin-bottom: 2px;
}

h2 {
    margin-bottom: 8px;
}

.panel {
    border-style: solid;
    border-color: black;
    margin-left: 5px;
}

#blog-form {
    padding: 2%;
}

#blog-container {
    margin-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-bottom: 12px;
}